COGNITO_ID=
COGNITO_SECRET=
COGNITO_ISSUER=https://cognito-idp.{us-west-1}.amazonaws.com/{POOLID}
# On UNIX systems you can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=
